<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.foqos.backgroundprocessing</string>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>Supported</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>gospellibrary</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>c0re</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Foqus uses the microphone for realtime voice chat with the assistant.</string>
	<key>RealtimeEphemeralKey</key>
	<string></string>
</dict>
</plist>
